In [5]:
import numpy as np
import pandas as pd

In [7]:
df=pd.read_csv('Student_Marks.csv')

In [9]:
df.shape

(100, 3)

In [8]:
df.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [12]:
df.describe()

       number_courses  time_study       Marks
count      100.000000  100.000000  100.000000
mean         5.290000    4.077140   24.417690
std          1.799523    2.372914   14.326199
min          3.000000    0.096000    5.609000
25%          4.000000    2.058500   12.633000
50%          5.000000    4.022000   20.059500
75%          7.000000    6.179250   36.676250
max          8.000000    7.957000   55.299000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [15]:
df.nunique()

number_courses      6
time_study        100
Marks             100
dtype: int64

In [11]:
df.isnull().sum()

number_courses    0
time_study        0
Marks             0
dtype: int64

In [77]:
df.duplicated().sum()

0

In [16]:
df.corr()

                number_courses  time_study     Marks
number_courses        1.000000    0.204844  0.417335
time_study            0.204844    1.000000  0.942254
Marks                 0.417335    0.942254  1.000000

In [18]:
x=df.drop(columns='Marks')
y=df['Marks']

In [61]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error

In [55]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=13)

In [58]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [59]:
y_pred=model.predict(x_test)

In [57]:
model.score(x_test,y_test)

0.9511560070366852

In [64]:
r2_score(y_test,y_pred)

0.9511560070366852

In [66]:
mse=mean_squared_error(y_test,y_pred)

In [67]:
np.sqrt(mse)

3.3018418542799877